body {
  background-color: #eaceb4;
  font-family: "Pacifico", cursive;
}

.container {
  border: #bb5a5a 10px solid;
  background-color: white;
  max-width: 1000px;
  margin: 45px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 16px;
  padding: 30px;
}

select {
  font-family: "Pacifico", cursive;
  display: block;
  width: 100%;
  border-radius: 4px;
  padding: 10px;
  font-size: 10px;
  background-color: #eaceb4;
  border: none;
  border-radius: 6px;
  padding: 15px 20px;
  font-size: 16px;
  text-align: center;
  font-size: 24px;
}

a {
  color: rgb(233, 150, 35);
}

header {
  border-bottom: solid 1px #f2e9d0;
  padding: 0 0 30px 0;
}
h1 {
  font-weight: 800;
  font-size: 64px;
  line-height: 1;
  color: #8b3c3c;
  text-align: center;
}
main {
  padding: 30px 0;
}

.city-container {
  font-size: 50px;
  line-height: 48px;
  color: #bb5a5a;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

h2 {
  font-size: 40px;
  margin: 0;
  padding: 0;
}
.city-1,
.city-2,
.city-3 {
  padding-top: 5px;
  color: #bb5a5a;
  border-right: 5px solid #f2e9d0;
  text-align: center;
}

.city-5 {
  padding-top: 5px;
  color: #bb5a5a;
  text-align: center;
  width: 100%;
  border-right: 5px solid #f2e9d0;
  border-left: 5px solid #f2e9d0;
  border-bottom: 5px solid #f2e9d0;
}

.date-1,
.date-2,
.date-3,
.date-5 {
  font-size: 32px;
  color: #e79e85;
  line-height: 24px;
  font-weight: bold;
  padding-top: 18px;
  margin: 12px 12px 12px 0;
  padding-bottom: 18px;
}

.time-1,
.time-2,
.time-3,
.time-5 {
  font-size: 32px;
  font-weight: bold;
  color: #eaceb4;
  line-height: 24px;
  font-weight: 500;
  padding-top: 18px;
  padding-bottom: 18px;
}

.details-1,
.details-3,
.details-2,
.details-5 {
  font-size: 10px;
  margin-top: 10px;
}

footer {
  border-top: dashed 1px #f2e9d0;
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

#home-button {
  border: none;
  cursor: pointer;
  width: 20%;
  background-color: #eaceb4;
  border-radius: 6px;
  padding: 2px 2px;
  text-align: center;
  font-size: 14px;
  font-family: "Pacifico", cursive;
}

.first-color {
  background: #f2e9d0;
}

.second-color {
  background: #eaceb4;
}

.third-color {
  background: #e79e85;
}

.fourth-color {
  background: #bb5a5a;
}
